<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>JavaDoc Browser</display-name>
  <context-param>
    <param-name>repository</param-name>
    <param-value><!--Put file path to repo here --></param-value>
  </context-param>

  <servlet>
    <servlet-name>Doc Servlet</servlet-name>
    <servlet-class>org.planbnet.docbrowser.DocServlet</servlet-class>
  </servlet>

  <servlet>
     <servlet-name>404error</servlet-name>
     <jsp-file>/errors/404.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>Doc Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
     <servlet-name>404error</servlet-name>
     <url-pattern>/404</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/404</location>
  </error-page> 
</web-app>
